Starting ......



    Id:<input type="text" [(ngModel)]="id">
    Name:<input type="text" [(ngModel)]="name">
    Salary:<input type="text" [(ngModel)]="salary">

  
<button (click)="insert()">Add</button>
<button (click)="fetch()">FeTCh</button>
<button (click)="update()">Update</button>
<table class="table">
    <tr>
        <th>ID</th>
        <td>EMP NAME</td>
        <td>SALARY</td>
    </tr>
    <tr *ngFor="let emp of emps; let i=index">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.salary}}</td>
        <td><button (click)="delete(i)">Delete</button></td>
        <td><button (click)="edit(i)">Edit</button></td>
    </tr>
</table>





































<!-- 
<button (click)="getEmps()">Fetch</button>
   <div class='table-responsive'>
          <table class='table'>
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Salary</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let emp of emps;">
                      <td>{{emp.empID}}</td>
                      <td>{{emp.name}}</td>
                      <td>{{emp.salary}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

 -->
